# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/

# Log files
*.log

# macOS files
.DS_Store

# Other system files
Thumbs.db