async-timeout==5.0.1
blinker==1.9.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
Flask==3.0.2
Flask-Cors==5.0.0
idna==3.10
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
packaging==24.2
pillow==11.0.0
python-dotenv==1.0.1
readerwriterlock==1.0.9
redis==5.2.1
requests==2.32.3
six==1.17.0
spotapi==1.1.3
spotipy==2.23.0
tls-client==1.0.1
typing_extensions==4.12.2
urllib3==2.3.0
validators==0.34.0
Werkzeug==3.1.3
zipp==3.21.0
gunicorn==23.0.0
uvicorn==0.30.6
